.App {
  flex-direction: column;
  text-align: center;
  background-color: var(--color-background);
  display: flex;
  width: 100vw;
  height: 100vh;
  color: var(--color-text);
}

.App-link {
  color: #61dafb;
}
.App-link:hover {
  color: #2d798e;
}

.header {
  font-size: calc(10px + 2vmin);
  flex-direction: row;
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-bottom: 1px solid var(--color-empty);
}

#game {
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
}

#board-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
