.Square {
  color: var(--color-text);
  font-weight: bold;
  border: 2px solid var(--color-empty);
  font-size: calc(10px + 4vmin);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  aspect-ratio: 1;
}

#square-absent {
  border-color: var(--color-active);
  --border-color: var(--color-absent);
  --background-color: var(--color-absent);
  animation: flip var(--animation-flip-time) ease forwards;
  animation-delay: var(--animation-delay);
}
#square-present {
  border-color: var(--color-active);
  --border-color: var(--color-present);
  --background-color: var(--color-present);
  animation: flip var(--animation-flip-time) ease forwards;
  animation-delay: var(--animation-delay);
}
#square-correct {
  border-color: var(--color-active);
  --border-color: var(--color-correct);
  --background-color: var(--color-correct);
  animation: flip var(--animation-flip-time) ease forwards;
  animation-delay: var(--animation-delay);
}
#square-empty {
  border-color: var(--color-active);
  background-color: transparent;
  animation: pop 0.09s ease-in-out;
}

.Row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.Grid {
  max-width: 350px;
  max-height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  width: var(--grid-width);
}

/* ANIMATION DELAY */
.Row > .delay:nth-child(2) {
  --animation-delay: calc(
    1 * var(--animation-flip-time) - 1 * var(--animation-flip-time-between)
  );
}
.Row > .delay:nth-child(3) {
  --animation-delay: calc(
    2 * var(--animation-flip-time) - 2 * var(--animation-flip-time-between)
  );
}
.Row > .delay:nth-child(4) {
  --animation-delay: calc(
    3 * var(--animation-flip-time) - 3 * var(--animation-flip-time-between)
  );
}
.Row > .delay:nth-child(5) {
  --animation-delay: calc(
    4 * var(--animation-flip-time) - 4 * var(--animation-flip-time-between)
  );
}

/* ANIMATIONS */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: transparent;
    border-color: var(--color-active);
  }
  45% {
    transform: rotateX(90deg);
    background-color: transparent;
    border-color: var(--color-active);
  }
  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0);
    background-color: var(--background-color);
    border-color: var(--border-color);
  }
}

@keyframes pop {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}

@keyframes horizontal-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
