.key {
  border-radius: 4px;
  font-weight: bold;
  height: var(--keyboard-key-height);
  background-color: var(--color-keyboard-default);
  flex: 1;
  padding: 0;
  border: 0;
  text-transform: uppercase;
  color: var(--color-text);
  margin: 0 6px 0 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  user-select: none;
}

#special-key {
  flex: 1.5;
}

#half-divider {
  flex: 0.5;
}

.key[data-state="correct"] {
  background-color: var(--color-correct);
  -webkit-transition: background-color 0s;
  -webkit-transition-delay: var(--keyboard-update-delay);
  transition: background-color 0s;
  transition-delay: var(--keyboard-update-delay);
}
.key[data-state="present"] {
  background-color: var(--color-present);
  -webkit-transition: background-color 0s;
  -webkit-transition-delay: var(--keyboard-update-delay);
  transition: background-color 0s;
  transition-delay: var(--keyboard-update-delay);
}
.key[data-state="absent"] {
  background-color: var(--color-absent);
  -webkit-transition: background-color 0s;
  -webkit-transition-delay: var(--keyboard-update-delay);
  transition: background-color 0s;
  transition-delay: var(--keyboard-update-delay);
}

.keyboard {
  margin: 0 8px;
  gap: 5px;
  max-width: 700px;
  width: 100%;
}

.keyboard-row {
  display: flex;
  margin: 0 0 8px;
}
